
<div class="menubar-wrapper">
  <p-menubar [model]="items"  styleClass="custom-menubar bg-emerald-400!" >
    <ng-template pTemplate="start">
      <div class="slugn flex items-center-safe ">
        <img [src]="logoImg" alt="Logo" class="h-15 w-20 gap-0" />
        <span class="font-bold text-xl gap-0">Carevo</span>
      </div>
    </ng-template>

    <ng-template pTemplate="end">
      <div class="flex gap-3 pr-3">
        <!-- <p-button label="Register" [rounded]="true" [raised]="true"  /> -->
        <p-button label="Login" [rounded]="true" severity="secondary" [raised]="true" [routerLink]="['login']" />
      </div>
    </ng-template>
  </p-menubar>
</div>
