<div class="testimonials-container">
  <h2 class="testimonials-title">Testimonials</h2>
  <p class="testimonials-subtitle">Healthcare professionals on our Medical Tracking System</p>
  <div class="separator"></div>
  <div class="seperator"></div>
  <p-card class="testimonial-card">
    <ng-template pTemplate="content">


      <div class="avatar">
        <p-avatar image="{{ img }}"  shape="circle"></p-avatar>
      </div>

      <p class="testimonial-text">
        "This Medical Tracking System has revolutionized how we manage patient data and monitor treatment progress. The intuitive interface and comprehensive reporting capabilities have significantly improved our workflow efficiency and quality of care delivery."
      </p>

      <p class="testimonial-author">Ahmed Omar</p>
      <p class="testimonial-position">System Administrator, Memorial Healthcare Center</p>
    </ng-template>
  </p-card>
</div>
